<h1>Show post</h1>

<p>Posted by: <%= @post.username %></p>
<p>Post: <%= @post.post %></p>
<p>File: <%= @post.attachment %></p>
<p>Created at: <%= @post.created_at %></p>

<br>
<form method='POST' action='/posts/<%= @post.id %>/comment' enctype="multipart/form-data">
    <textarea name='comment'></textarea><br>
    <input name='attachment' type='file'><br>
    <input type='submit' value='Comment'>
</form>
<br>

<h2>Comments</h2>

<% @comments.each do |comment|%>
    <p>Commented by: <%= comment.username %></p>
    <p>Comment: <%= comment.comment %></p>
    <p>File: <%= comment.attachment %></p>
    <p>Created at: <%= comment.created_at %></p>
    <br>
<% end %>